*.egg-info
*.pyc
.idea
logs
*.swp
*~
*.lprof
*.DS_Store

.vscode

gym_collision_avoidance/experiments/results

venv
log

gym_collision_avoidance/envs/policies/CADRL/pickle_files/multi/nn_training_param.p

# gym_collision_avoidance/envs/test_cases/2_agents_500_cases_carrl_seed*.p

docs/_build